<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Noto+Serif:400i" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/style.css">
  <link rel="shortcut icon" href="/assets/img/favicon.ico">
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
  <script src="/assets/js/script.js"></script>
  <title>{{ page.title }}</title>
</head>
<body>
  <div id="header">
    <h1>{{ page.title }}</h1>
  </div>
  <div id="contents">
    {{ content }}
  </div>
</body>
<script>
$(document).ready(() => {
  getEvents((data) => {
    $('<ul class="events-contents">').insertAfter('#events').append(() => {
      return data.map((entry) => {
        return `<li><a href="${entry.url}">${entry.title}</a><span>${entry.date}</span></li>`
      });
    })
  })
  getQiita((data) => {
    $('<ul class="qiita-contents">').insertAfter('#qiita').append(() => {
      return data.map((entry) => {
        return `<li><a href="${entry.url}">${entry.title}</a><span>${entry.date}</span></li>`
      });
    })
  })
})
</script>
</html>
