<!DOCTYPE html>
<html lang="ja">
<head>
{% include head.html %}
<link rel="stylesheet" href="assets/css/index.css">
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.js"></script>
<script src="/assets/js/script.js"></script>
</head>
<body>
<div id="contents">
{{ content }}
</div>
</body>
<script>
  $(document).ready(() => {
    getEvents((data) => {
      $('<ul>').insertAfter('#events').append(() => {
        return data.map((entry) => {
          return `<li><a href="${entry.url}">${entry.title}</a><span>${entry.date}</span></li>`
        });
      })
    })
    getQiita((data) => {
      $('<ul>').insertAfter('#qiita').append(() => {
        return data.map((entry) => {
          return `<li><a href="${entry.url}">${entry.title}</a><span>${entry.date}</span></li>`
        });
      })
    })
    getZenn((data) => {
      $('<ul>').insertAfter('#zenn').append(() => {
        return data.map((entry) => {
          return `<li><a href="${entry.url}">${entry.title}</a><span>${entry.date}</span></li>`
        });
      })
    })
  })
</script>
</html>



